
<html xmlns:th="http://www.thymeleaf.org">

<nav class="nav" th:fragment="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/myprofile">My Profile</a></li>
        <li th:if="${sessionStatus}"><a href="/post/create">Add Post</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/feed">News Feed</a></li>
        <li style="float:right"><a class="active" href="/logout">Log Out</a></li>
    </ul>

</nav>

<div class="nav" th:fragment="navStranger">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

</div>

<header class="header" th:fragment="header">
    <h5>Welcome <span th:text="${currentUser.username}"></span></h5>
</header>