<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a post page</title>
    <link href="/style.css" rel="stylesheet"/>
</head>

<body>
<nav th:replace="fragments/fragmentTemplates :: nav">...</nav>
<header th:replace="fragments/fragmentTemplates :: header">...</header>

<div id="container">
    <h2>&bull; Add a New Post &bull;</h2>
    <div class="underline">
    </div>
    <form class="formForm" action="/post/create" method="POST">
        <div class="message">
            <label class="message"></label>
            <textarea name="body" placeholder="Post something interesting..."  cols="20" rows="4" required></textarea>
        </div>
        <div class="submit">
            <input type="submit" value="Post" id="form_button" />
        </div>
    </form>
</div>


</body>
</html>