<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Discover Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>

<nav th:replace="fragments/fragmentTemplates :: nav">...</nav>
<header th:replace="fragments/fragmentTemplates :: header">...</header>

<div class="middleDivs">
    <h3> Discover New Players </h3>
    <div>
        <div th:each = "user : ${allUsers}">
            <a th:href="@{'/users/' + ${user.getId()}}"><img th:src="${user.imageUrl}" style="width: 80px;"></a>
            <div class="aboutMe">
                <p> Name: <span th:text="${user.firstName}"> </span> <span th:text="${user.lastName}"> </span> </p>
                <p> Date of Birth: <span th:text="${user.dateOfBirth}"></span></p>
                <p> Biography: <span th:text="${user.bio}"></span></p>
            </div>
            <hr>
        </div>
    </div>
</div>

</body>
</html>