<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>


<div th:if="${userStatus}">
    <nav th:replace="fragments/fragmentTemplates :: nav">...</nav>
</div>

<div th:if="${userStatus == false}">
    <nav th:replace="fragments/fragmentTemplates :: navStranger">...</nav>
</div>


<div style = "text-align:center; display:block;">
    <h1>LOG IN</h1>
    <form action="/login" method="post">

        <label>User Name</label>
        <input type="text"name="username" placeholder="Your username..">

        <br>

        <label>Password</label>
        <input type="password"name="password" placeholder="Your password..">

        <br>

        <input type="submit" value="Submit">
    </form>

<a href="/registration">If you are a new user</a>
</div>
</body>
</html>