<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>


<div th:if="${userStatus}">
    <nav th:replace="fragments/fragmentTemplates :: nav">...</nav>
</div>

<div th:if="${userStatus == false}">
    <nav th:replace="fragments/fragmentTemplates :: navStranger">...</nav>
</div>

<div id = "container">
    <h2>&bull; LOGIN &bull;</h2>
    <div class="underline">
    </div>
    <form class="formForm" action="/login" method="post">
        <div class="username">
            <label>User Name</label>
            <input type="text"name="username" placeholder="Your username..">
        </div>

        <div class="password">
            <label>Password</label>
            <input type="password"name="password" placeholder="Your password..">
        </div>

        <input type="submit" value="Submit" id="form_button">
    </form>
</div>
</body>
</html>