<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>


    <div th:if="${userStatus}">
        <nav th:replace="fragments/fragmentTemplates :: nav">...</nav>
    </div>

    <div th:if="${userStatus == false}">
        <nav th:replace="fragments/fragmentTemplates :: navStranger">...</nav>
    </div>

    <div id="containerRegister">
        <h2>&bull; REGISTER AS A NEW USER &bull;</h2>
        <div class="underline">
        </div>
        <form class="formForm" action="/registration" method="POST">

            <div class="username">
                <label class="name"></label>
                <input type="text" placeholder="My  username is" name="username" required>
            </div>
            <div class="password">
                <label class="name"></label>
                <input type="password" placeholder="My password is" name="password" required>
            </div>

            <div class="firstName">
                <label class="name"></label>
                <input type="text" placeholder="My first name is" name="firstName" required>
            </div>
            <div class="lastName">
                <label class="lastName"></label>
                <input type="text" placeholder="My last name is" name="lastName" required>
            </div>
            <div class="dateOfBirth">
                <label class="name"></label>
                <input type="date" placeholder="My date of birth is" name="dateOfBirth" required>
            </div>
            <div class="bio">
                <label class="message"></label>
                <textarea name="bio" placeholder="A little bit about myself..." cols="20" rows="4" required></textarea>
            </div>
            <div class="profilePic">
                <label class="name"></label>
                <input type="text" placeholder="Add a profile picture link " name="imageUrl" required>
            </div>

            <div class="submit">
                <input type="submit" value="REGISTER" id="form_button" />
            </div>
        </form>
    </div>

</body>
</html>