<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>REGISTER AS A NEW USER</h1>
<form action="/registration" method="POST">

    <label>User Name</label>
    <input type="text"name="username" placeholder="Your username..">

    <br>

    <label>Password</label>
    <input type="password"name="password" placeholder="Your password..">

    <br>

    <label>First Name</label>
    <input type="text" name="firstName" placeholder="Your first name..">

    <br>

    <label>Last Name</label>
    <input type="text" name="lastName" placeholder="Your last name..">

    <br>

    <label>Date of Birth</label>
    <input type="date" name="dateOfBirth" placeholder="Your date of birth ..">

    <br>

    <label>Biography</label>
    <textarea name="bio" placeholder="Write something about yourself.." style="height:200px"></textarea>

    <br>

    <input type="submit" value="Submit">
</form>

</body>
</html>